---
layout: default
---

<div class="home">

  <!-- {% assign random = site.time | date: "%s%N" | modulo: site.posts.size %}
  <h1>{{ site.posts[random].title }}</h1> -->

<div class="quotes">
  <h4>“Music is everybody's business. It's only the publishers who think people own it” </h4>
  <h5>― John Lennon</h5>

  <h4>“Musical innovation is full of danger to the State, for when modes of music change, the fundamental laws of the State always change with them.”</h4>
  <h5>― Plato</h5>

  <h4>“Don't leave it all unsaid,
  somewhere in the wasteland of your head.”</h4>
  <h5>― Morrissey</h5>
</div>


  <!-- <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
